body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', 'Lato', sans-serif;
}

button {
  font-size: 1em;
  padding: 2% 3%;
  min-width: 75px;
  font-family: inherit;
}

.game {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.stats {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-self: center;
}

.stats > * {
  margin: 2%;
  border: 2px solid;
  height: inherit;
}

#timer {
  width: 50%;
}

#score, #start-button {
  width: 25%;
}

h3 {
    text-align: center;
}

h3:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

h3:first-child {
    display: inline-block;
    vertical-align: middle;
}
