#question-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 2px solid var(--dcyan);
    background: var(--cyan);

    margin: auto;
    width: 80%;
    height: 200px;
}

#question {
    font-size: 2.5em;
    font-weight: bold;
    margin: auto;
}

#answer {
    margin: auto;

    text-align: center;
    font-size: 1.5em;
}

@media (600px <= width) {
  #question-div {
    width: 60%;
    height: 70%
  }
}
