#question-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 2px solid var(--dcyan);
    background: var(--cyan);

    margin: auto;
    width: 80%;
    height: 200px;
}

#question {
    font-size: 2em;
    font-weight: bold;
    margin: auto;
}

#answer {
    width: fit-content;
    margin: auto;

    text-align: center;
}
