#settings {
  display: flex;
  flex-direction: column;

  width: 80%;

  border: 3px solid var(--dcyan);
  border-radius: 5px;

  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5%;

  background: var(--cyan);
}
