input:invalid {
  color: var(--alert);
}

input {
  max-width: 53px;
  border: 2px solid var(--dcyan);
  padding: 4px;
}

.setter-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

#time-settings {
  border-bottom: 2px solid var(--dcyan);
  border-radius: 0;
}
