input:invalid {
  color: var(--alert);
}

input {
  max-width: 53px;
}

.setter-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 25px;
  padding: 8px;
}

#time-settings {
  border-bottom: 1px solid slategray;
  border-radius: 0;
}
