:root {
 --imperial-red: #f94144ff;
 --orange-crayola: #f3722cff;
 --carrot-orange: #f8961eff;
 --saffron: #f9c74fff;
 --pistachio: #90be6dff;
 --zomp: #43aa8bff;
 --paynes-gray: #577590ff;
 --slate-gray: #66829aff;
}

* {
  font-family: 'Open Sans', 'Lato', sans-serif;   
  border-radius: 5px;
}

#root {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
}

#start-stop {
    background: var(--saffron); 
    border: 1px solid var(--carrot-orange); 
    min-height: 30px;
    max-width: 60px;
}
