:root {
    --cyan: #e3f3f4;
    --dcyan: #96cace;
    --purple: #d0ceea;
    --lpurple: #d9d7f4;
    --dpurple: #9a96ce;
    --red: #ead0ce;
    --lred: #f4d9d7;
    --dred: #ce9a96;
    --yellow: #e8eace;
    --lyellow: #f2f4d7;
    --dyellow: #cace96;
    --alert: #f4a290;
}

* {
  font-family: 'Open Sans', 'Lato', sans-serif;   
  border-radius: 5px;
}

html, body {
  height: 100%;
  margin: 0;

  background: #f7fcfc;
}

#root {
    display: flex;
    flex-direction: column;

    align-content: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
