#score {
    display: inline-block;

    background: var(--lred);
    border: 3px solid var(--dred);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    margin: 0 auto;
    padding: 12px;
    width: 50px;

    text-align: center;
}
