#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

@media (600px <= width) {
  #stats {
    width: 50%;
  }
}
